footer {
    background-color: var(--secondary-bg);
    transition: 0.4s;
}

.footerMain {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.footerSide {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    width: 100%;
    margin-right: 50px;
    /* margin-top: 50px; */
}

.footerDescription {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    margin-left: 50px;
    font-size: 1.2em;
}

.footerText {
    font-size: 0.8em;
    margin: 40px auto 0;
    padding: 0;
    width: 300px;
    text-align: start;
}

.footerCTA {
    margin: 40px auto 20px;
    padding: 0;
    width: 300px;
    text-align: start;
    font-size: 0.8em;
    color: var(--primary-text);
    cursor: pointer;
    transition: 0.4s;
}

.footerCTA a {
    color: var(--highlight-color);
}

.footerSocials {
    display: flex;
    justify-content: space-between;
    font-size: 2.5em;
    width: 300px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.footerSocials i {
    color: var(--primary-text);
}

.footerLink {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    margin: 0.5em 0;
    transition: 0.4s;
    color: var(--primary-bg);
}

.footerLink:hover {
    background-color: var(--hover-bg);
}

.footerResume {
    margin: 0px 20px 40px;
    font-size: 1.3em;
}
.resumeLink {
    color: var(--secondary-text);
    transition: 0.4s;
}

.footerCopyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2em 0;
    width: 100%;
    font-size: 1em;
}

@media screen and (max-width: 768px) {
    .footerMain {
        flex-direction: column;
    }

    .footerSide {
        margin: 0 auto;
        align-items: center;
    }

    .footerDescription {
        margin: 0;
    }

    .footerText {
        font-size: 0.9em;
    }

    .footerSocials {
        margin-top: 0;
    }

    .footerLink {
        width: 30px;
        height: 30px;
    }
    .footerResume {
        margin-left: 0;
    }
    .resumeLink {
        justify-content: start;
    }
}

@media screen and (max-width: 399px) {
    .footerText,
    .footerCTA,
    .footerSocials {
        width: 80vw;
    }

    .footerCopyright {
        font-size: 0.8em;
    }
}
