.introSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 620px;
    height: 100vh;
    background-image: url("/src/images/backgroundportfolio.png");
    background-position: center 100px;
    background-repeat: no-repeat;
    background-size: contain;
}
h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
    margin-top: 200px;
    text-transform: uppercase;
}
p {
    width: 100%;
}
.downloadResume {
    text-align: center;
}
.jobTitle {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 70px;
}

.scrollArrow {
    position: absolute;
    right: 20px;
    bottom: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2em;
    animation: scroll 2s ease-in-out infinite;
}
.slidingDownDiv {
    animation: slideDown 0.3s ease-out forwards;
    position: relative;
    top: -200px;
}

@keyframes slideDown {
    100% {
        top: 0;
    }
}

.biondoColor {
    background: linear-gradient(90deg, var(--highlight-color), #8e44ad);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
@supports not (-webkit-background-clip: text) {
    .biondoColor {
        background: none;
        color: var(--primary-text);
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

#socials {
    user-select: none;
    position: sticky;
    left: 0;
    top: 50%;
    width: 60px;
    padding: 10px;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-bg);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.socialLink {
    border-radius: 10px;
    margin: 0.5em 0;
    transition: 0.3s;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialLink:hover {
    background-color: var(--hover-bg);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    .socials {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 399px) {
    h1 {
        font-size: 1.9em;
    }
    .jobTitle {
        font-size: 1.2em;
    }
    .socials {
        display: none;
    }
}
