/* Styles for the navigation bar */
#nav {
    user-select: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-bg);
    height: 50px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.3s ease-out,
        visibility 0.3s ease-out;
}

.navVisible {
    visibility: visible;
    opacity: 1;
}

.navTitle {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 0.8em;
}

.navPic {
    margin: 0 2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 20%;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Styles for both main and mobile navigation links */
.navLinks,
.mobileNavLinks {
    list-style: none;
    display: flex;
    font-size: 1.2em; /* Increase font size for larger links */
}

.navLinks a,
.mobileNavLinks a {
    margin: 0 1em; /* Adjust the margin as needed for spacing */
    color: var(--primary-text);
    text-decoration: none;
    cursor: pointer;
}

/* Styles for the mobile navigation links */
.mobileNavLinks {
    display: none;
    flex-direction: column;
    background-color: var(--primary-bg);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: end;
    top: 50px;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    position: absolute; /* Add this line to position the dropdown menu */
    z-index: 101; /* Ensure a higher z-index than the nav bar */
}

/* Set display property for .mobileNavLinks.active */
.mobileNavLinks.active {
    display: flex;
}

.mobileNavLinks.active li {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.171);
}

.navLinks a.active,
.mobileNavLinks a.active {
    color: var(--highlight-color);
}

/* Styles for the menu icon and close icon */
#menuIcon,
#xIcon {
    font-size: 2.5em;
    cursor: pointer;
    color: var(--highlight-color);
    margin-right: 0.5em;
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
    /* Hide the main navigation links */
    .navLinks {
        display: none;
    }

    /* Show the menu icon */
    #menuIcon {
        display: block;
    }

    /* Hide the close icon */
    #xIcon {
        display: none;
    }
}
